<!DOCTYPE html>
<html>
    <head>
        <title>VIEW TASK Dummy code</title>
    </head>
    <body>
        <form action="">
            <h1>View TASKS</h1>
            <input type="text" placeholder="TASK">
            <input type="text" placeholder="DATE">
            <button>Submit</button>

        </form>
    </body>
</html>